body{
    margin: 20px;
    background-image: url(./taj2.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(245, 245, 238);
align-items: center;
}


#cityinput{
    height: auto;
    width: auto;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border-radius: inherit;
    
}
#temerature{
    color: white;

}
#btn{
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin: 10px;
    border-radius: inherit;
    
}
#describe{
    color: white;
}
#city{
    color: white;
}